@model webquanli.Models.TienDo

<h2>Cập nhật tiến độ</h2>

<form method="post">

    <label>Nội dung</label>

    <input class="form-control" asp-for="NoiDung" />

    <label>Phần trăm</label>

    <input class="form-control" asp-for="PhanTram" />

    <button class="btn btn-primary mt-2">

        Lưu

    </button>

</form>