<h2>Dashboard</h2>

<canvas id="chart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    var ctx=document.getElementById('chart');

    new Chart(ctx,{

    type:'bar',

    data:{

    labels:['Sinh viên','Đề tài','Báo cáo'],

    datasets:[{

    label:'Thống kê',

    data:[20,10,5]

    }]

    }

    });

</script>