@model webquanli.Models.DeTai

<h2>Thêm đề tài</h2>

<form method="post">

    <label>Tên đề tài</label>

    <input class="form-control" asp-for="TenDeTai" />

    <label>Mô tả</label>

    <textarea class="form-control" asp-for="MoTa"></textarea>

    <button class="btn btn-primary mt-2">
        Lưu
    </button>

</form>